global
  log stdout format raw local0
  maxconn 2048

defaults
  mode http
  log global
  option httplog
  option dontlognull
  timeout connect 5s
  timeout client 30s
  timeout server 30s

frontend http_front
  bind *:80
  default_backend kr4_back

backend kr4_back
  balance roundrobin
  option httpchk GET /health
  http-check expect status 200
  server backend1 backend1:3000 check inter 5s fall 2 rise 2
  server backend2 backend2:3000 check inter 5s fall 2 rise 2
  server backend3 backend3:3000 check backup inter 5s fall 2 rise 2
